body {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway" !important;
  }
  p {
    font-size: 1.2rem;
    font-family: "Raleway" !important;
  }
  a {
    font-size: 1.2rem !important;
    font-family: "Raleway" !important;
  }
}
